* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cor-principal: #64818C;
    --cor-secundaria: #B0BAD9;
    --cor-terciaria: #000000; 
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    border: 1px solid var(--cor-secundaria);
    width: 500px;
    margin: 2rem 0  0 2rem;
    padding: 1rem;
    color: var(--cor-terciaria)
}
.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 1rem;
}
.info {
    display: flex;
}
h3 {
    font-size: 24px;
    color: var(--cor-principal);
    font-weight: bold;
}
.cargo {
    font-style: italic;
}
.rede-social {
    margin-top: 1rem;
    text-align: center;
    padding: 1rem 0;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.icons {
    width: 25px;
}
.itens {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.itens__media {
    display: flex;
    align-items: center;
}